.modal-product {
  display: flex;
  position: absolute;
  border: 1px solid red;
  z-index: 13000;
}
.modal-product .modal-dialog {
  margin: 5% auto;
  max-width: 96%;
  min-height: 300px;
  padding: 20px;
  width: 870px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.modal-product .modal-dialog .modal-image {
  height: 100%;
  width: 50%;
}
.modal-product .modal-dialog .modal-image img {
  width: 100%;
  position: relative;
  top: -30px;
  height: 100%;
}
.modal-product .modal-dialog .modal-content {
  float: left;
  padding-left: 30px;
  width: 60%;
}
.modal-product .modal-dialog .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-product .modal-dialog .modal-content .modal-header h1 {
  font-size: 22px;
  font-weight: normal;
  margin: 0 0 10px;
}
.modal-product .modal-dialog .modal-content .modal-header button {
  border: 1px solid #909295;
  border-radius: 100%;
  color: #909295;
  display: block;
  height: 30px;
  line-height: 25px;
  padding-top: 1px;
  text-align: center;
  width: 30px;
  position: relative;
  top: -40px;
}
.modal-product .modal-dialog .modal-content .modal-body .price-box {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #666;
}
.modal-product .modal-dialog .modal-content .modal-body .price-box hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}
.modal-product .modal-dialog .modal-content .modal-body .price-box .old-price {
  text-decoration: line-through;
  margin-left: 20px;
}
.modal-product .modal-dialog .modal-content .modal-body .add-cart {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
  float: left;
  margin: 0 0 20px;
  padding: 0 0 15px;
  width: 100%;
}
.modal-product .modal-dialog .modal-content .modal-body .add-cart a {
  color: #42414f;
  display: inline-block;
  margin-bottom: 35px;
  text-decoration: underline;
}
.modal-product .modal-dialog .modal-content .modal-body .add-cart a:hover {
  color: rgba(228, 56, 56, 0.76);
}
.modal-product .modal-dialog .modal-content .modal-body .add-cart ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
}
.modal-product .modal-dialog .modal-content .modal-body .add-cart ul li input {
  border: 1px solid #ddd;
  float: left;
  height: 40px;
  padding: 0 10px 0 0;
  text-align: center;
  width: 60px;
}
.modal-product .modal-dialog .modal-content .modal-body .add-cart ul li button {
  background: #444;
  border: medium;
  color: #fff;
  float: left;
  font-weight: 700;
  height: 40px;
  margin-left: 15px;
  padding: 0 70px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.modal-product .modal-dialog .modal-content .modal-body .add-cart ul li button:hover {
  background: #c8a165;
  cursor: pointer;
}
.modal-product .modal-dialog .modal-content .modal-body .product-info p {
  border-bottom: 1px solid #e5e5e5;
  color: #909295;
  float: left;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 25px;
  padding: 0 0 15px;
  width: 100%;
}
.modal-product .modal-dialog .modal-content .modal-footer h2 {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #42414f;
  float: left;
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 5px;
  text-align: left;
  text-transform: none;
  width: 100%;
}
.modal-product .modal-dialog .modal-content .modal-footer ul {
  display: flex;
  align-items: center;
  padding: 1px;
}
.modal-product .modal-dialog .modal-content .modal-footer ul li {
  float: left;
  line-height: 30px;
  list-style: outside none none;
  margin-right: 10px;
}
.modal-product .modal-dialog .modal-content .modal-footer ul li a {
  border: 1px solid #e5e5e5;
  color: #909295;
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  width: 40px;
}
.modal-product .modal-dialog .modal-content .modal-footer ul li .google:hover {
  background: #dd4b39;
}
.modal-product .modal-dialog .modal-content .modal-footer ul li .google:hover i {
  color: #fff;
  transition: all 1s ease 0s;
}
.modal-product .modal-dialog .modal-content .modal-footer ul li .twitter:hover {
  background: #1DA1F2;
}
.modal-product .modal-dialog .modal-content .modal-footer ul li .twitter:hover i {
  color: #fff;
  transition: all 1s ease 0s;
}
.modal-product .modal-dialog .modal-content .modal-footer ul li .facebook:hover {
  background: #1877F2;
}
.modal-product .modal-dialog .modal-content .modal-footer ul li .facebook:hover i {
  color: #fff;
  transition: all 1s ease 0s;
}
.modal-product .modal-dialog .modal-content .modal-footer ul li .linkedin:hover {
  background: #0077b5;
}
.modal-product .modal-dialog .modal-content .modal-footer ul li .linkedin:hover i {
  color: #fff;
  transition: all 1s ease 0s;
}/*# sourceMappingURL=parent.css.map */